<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
  <% include ./partials/_header.ejs %>
  <a href="/urls/new">Create a new URL here! </a>
  <h2>My URLs</h2>
  
    <%   for(var keys in urls) { %>
      <li><%= keys %>: <%= urls[keys] %> ---------->
        <form method="GET" action="/urls/<%= keys %>/edit">
          <button type="edit" class="btn btn-link" role="button" onclick="edit"> Edit Link
        </form>
        <form method="POST" action="/urls/<%= keys %>/delete">
          <button type="delete" class="btn btn-dark" role="button"> Delete Link
        </form>
      </li> 
    <%  } %>
  
  </tr>
</body>
</html>